<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <title>{{ app.title }} - Log</title>

   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.min.css">

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-json.min.js"></script>

  <style>
    .main {
      max-width: 80%;
      margin: 0 auto;
    }
    .time {
      opacity: 0.7;
      font-size: 70%;
      line-height: 1em;
      margin-bottom: 1em;
    }
    .level-50 {
      background-color: rgba(255, 0, 0, 0.3);
    }
  </style>

</head>
<body>

  <div class="main">
    <ul class="collapsible" data-collapsible="accordion">
      {{#each logs}}
      <li>
        <div class="collapsible-header level-{{ level }}">
          <p>{{ msg }}</p>
          <p class="time">{{ time }}</p>
        </div>
        <div class="collapsible-body"><pre><code class="language-json">{{ detail }}</code></pre></div>
      </li>
      {{/each}}
    </ul>
  </div>

</body>
</html>
